<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Details</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheeto" href="/styles/style.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          
</head>

<body>
    <main class="container">
        <h1 id="languageName"></h1>
        <div id="languageDetails"></div>
        <a href="/" role="button">Back to List</a>
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
